<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Основы Vue</title>
		<link rel="stylesheet" href="theme.css" />
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
	</head>
	<body>
		<div class="container" id="app" v-cloak>
			<div class="card">
				<h1>План по изучению Vue.js</h1>
				<div class="steps">
					<div class="steps-content">{{steps[activeIndex - 1].text}}</div>
					<ul class="steps-list">
						<li
							:class="['steps-item', {'active' : isActiveStep(step.step), 'done' : activeIndex > step.step}]"
							v-for="(step, index) in steps"
							@click="setActive(step.step)"
						>
							<span>{{ index +1 }}</span>{{ step.title }}
						</li>
					</ul>
					<div>
						<button class="btn" :disabled="isDisable" @click="prev" v-if="isFinish === false">Назад</button>
						<button class="btn primary" @click="nextOfFinish" v-if="isFinish === false">{{isLastStep}}</button>
						<button class="btn" @click="reset" v-if="isFinish === true">
							Начать заново
						</button>
					</div>
				</div>
			</div>
		</div>

		<script src="https://unpkg.com/vue@next"></script>
		<script src="vue.js"></script>
	</body>
</html>
